
<div class="container">
    <div class="row info">
        <div class="col-md-12 tech__wrap">
            <h2>About the Movie!</h2>
        </div>
        <div class="col-lg-8">
            <h4><a href="http://www.omdbapi.com/">www.omdbapi.com</a></h4>
            <p>The OMDb API is a RESTful web service to obtain movie information, all content and images on the site are contributed and maintained by our users. </p>

            <h4>Use API Key</h4>
            <p>Generate API Key for free</p>

            <h4><a href="https://angularjs.org">www.angularjs.org</a></h4>
            <p>AngularJS is a toolset for building the framework most suited to your application development.</p>
        </div>

        <div class="col-lg-4">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>
</div>